
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand bg-light" style="font-family: 'Rubik Vinyl', cursive;" > Vehicle App </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a routerLink="" class="nav-link ml-5" style="font-family: 'Baloo 2', cursive; font-size: 20px;font-weight: bold;"> Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link ml-5" style="font-family: 'Baloo 2', cursive; font-size: 20px;font-weight: bold;" routerLink="/about"> About </a>
        </li>
        <li class="nav-item">
          <a class="nav-link ml-5" style="font-family: 'Baloo 2', cursive; font-size: 20px;font-weight: bold;" routerLink="/compare"> Compare </a>
        </li>
      
      </ul>
    </div>
  </nav>